*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-image: radial-gradient(circle at 13% 47%, rgba(140, 140, 140,0.03) 0%, rgba(140, 140, 140,0.03) 25%,transparent 25%, transparent 100%),radial-gradient(circle at 28% 63%, rgba(143, 143, 143,0.03) 0%, rgba(143, 143, 143,0.03) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, rgba(65, 65, 65,0.03) 0%, rgba(65, 65, 65,0.03) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, rgba(60, 60, 60,0.03) 0%, rgba(60, 60, 60,0.03) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, rgba(150, 150, 150,0.03) 0%, rgba(150, 150, 150,0.03) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, rgba(25, 25, 25,0.03) 0%, rgba(25, 25, 25,0.03) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, rgba(69, 69, 69,0.03) 0%, rgba(69, 69, 69,0.03) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}



h1{
border: 1px rgba(126, 126, 126, 0.281) groove;
text-align: center;
margin: 10px 20px;
background-color: rgba(16, 167, 187, 0.342);
border-radius: 2px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 25px;
padding: 10px;
letter-spacing: 2px;

}


li{
    text-align: center;

    
}
li a{
color: rgb(7, 87, 7);


}
.log{
    background-color: rgba(128, 121, 121, 0.527);
    border: 1px groove grey ;
    color: rgba(0, 0, 0, 0.842);
    text-decoration: none;

    border-radius: 20px;
    padding: 5px;
    transition: 0.5s;
 

}
.sig{
background-color: rgba(128, 121, 121, 0.527);
border: 1px groove grey ;
color: rgba(0, 0, 0, 0.842);
text-decoration: none;
font-weight: ;
border-radius: 20px;
padding: 5px;
transition: 0.5s;
}

.log:hover{
border-color: black;
background-color: rgba(0, 0, 0, 0.767);
color: white;
box-shadow: 0px 0px 20px;

}
.sig:hover{
    border-color: black;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    box-shadow: 0px 0px 20px;

}

.images{
text-align: center;
margin: auto;


} 
.images img{

border-radius: 15px;
transition: 0.3s;
}

.images img:hover{
box-shadow: 0px 0px 20px rgb(0, 0, 0) ;


}
p,h3
{
margin: 20px 100px;
text-align: center;
line-height: 25px;
font-weight: 10px;
font-size: 20px;


}


.map{

    text-align: center;
    
    

}
.info{ 
  justify-content: space-evenly;
display: flex;


}