*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{background-image: radial-gradient(circle at 57% 36%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 10%,transparent 10%, transparent 100%),radial-gradient(circle at 22% 61%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 68% 97%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 41%,transparent 41%, transparent 100%),radial-gradient(circle at 57% 89%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 30%,transparent 30%, transparent 100%),radial-gradient(circle at 39% 80%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 88% 71%, hsla(263,0%,78%,0.04) 0%, hsla(263,0%,78%,0.04) 30%,transparent 30%, transparent 100%),linear-gradient(0deg, rgb(255,255,255),rgb(255,255,255));;
    }
    h3{
        text-align: center;
    font-size:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 20px;
    
    }

li a img{
    width: 100px;
    margin-top: 20px;
    
}



    form{
background-color: rgba(139, 139, 139, 0.493);
width: 400px;
height: 550px;
border: 3px rgba(0, 0, 0, 0.418) inset;    
border-radius: 20px;
text-align: center;
margin: auto;
}

#name,#date{


text-align: center;
border: 2px groove rgba(190, 185, 185, 0.705);
height: 30px;
width: 180px;
border-radius: 25px;

font-weight: bold;
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
#name:hover{

border-color: whitesmoke;



}



button{
    border: 1px groove rgba(0, 0, 0, 0.692) ;
width: 120px;
height: 35px;
border-radius: 25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
font-size: 12px; 
transition: 0.5s;
margin: auto;
margin-top: 20px;

}
button:hover{
background-color: rgba(26, 204, 26, 0.432);
width: 130px;
box-shadow: rgb(0, 0, 0) 0px 0px 5px;

}
select{
    height: 30px;
    width: 180px;
    border: 2px groove rgba(190, 185, 185, 0.705);
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    color: rgba(8, 7, 7, 0.774);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 11px;
}


